{% extends 'photo/basephoto.html' %}

{% block content %}
    <h1 class="principal"> Welcome to Photorganizer! </h1>

    <div class="formulario">
      {% if form %}
        <h3> Ingrese la ruta de la carpeta que desea organizar: </h3>

        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save</button>

        </form>
      {% endif %}
    </div>

    <div clas="carpetas">
      {% if carpetas %}

        <h4> Usado recientemente: </h4>

        {% for c in carpetas %}

          <ul>

              <li>
                <a href="/visor/{{ c.id }}/"> {{ c.ruta }} </a>
                <a href="/eliminar/{{ c.id }}/" id="eliminar"> eliminar </a>

              </li>

          </ul>

        {% endfor %}

      {% endif %}
    </div>
{% endblock content %}
