{% extends 'photo/basephoto.html' %}

{% block content %}
    <h1> Welcome to Photorganizer! </h1>
    <h3> Ingrese la url de la carpeta que desea organizar! </h3>

    {% if form %}

      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>

      </form>
    {% endif %}

    {% if carpetas %}

      <h4> Usado recientemente: </h4>

      {% for c in carpetas %}

        <ul>

            <li> <a href="/visor/{{ c.id }}/"> {{ c.ruta }} </a> </li>

        </ul>

      {% endfor %}

    {% endif %}

{% endblock content %}
