{% extends 'photo/basephoto.html' %}

{% block content %}

    <h3> {{ carpeta }} </h3>

    <h3> Ingrese la ruta a donde desea mover la imagen </h3>

    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>

    </form>

    <img src="{{ fotos.0 }}" />

    <h3> Ultimas carpetas de destino: </h3>
        {{ carpetas }}

    <h3> Fotos dentro de esta carpeta: </h3>
    {% for foto in fotos %}
      <p> {{ foto }}</p>
    {% endfor %}

{% endblock content %}
