{% extends 'photo/basephoto.html' %}

{% block content %}

    <h3 class="principal" > Estás organizando la carpeta {{ carpeta }} </h3>

    {% if error %}
      <p class="error"> {{ error }} </p>
    {% endif %}

  <div id="panel_izquierdo">
    {% if form %}
      <div class="formulario">
        <h3> Ingrese la ruta a donde desea mover la imágen </h3>
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save</button>
        </form>
      </div>

      <a class="button" href="/rechazar/{{ carpeta.id }}">No quiero mover esta imagen</a>

      <div class="carpetas" id="destino">
        <h3> Últimas carpetas de destino: </h3>
        <ul>
          {% for c in carpetas %}
            <li>
              <a href="/mover/{{carpeta.id}}/{{c.id}}">{{ c }}</a>
              <a id="eliminar" href="/eliminar/{{ c.id }}/v/{{carpeta.id}}"> eliminar </a>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>

      <img id="visor" src="/li/{{ fotos.0 }}" />

      <div id="galeria">
        <h3> Otras imágenes dentro de esta carpeta: </h3>
        {% for foto in fotos %}
          <img src="/li/{{ foto }}"/>
        {% endfor %}
      </div>

      {% endif %}



{% endblock content %}
