* {
  font-family: verdana;
}

body {
  background-color: #D8D8D8;
  margin: 0;
  padding: 1%;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  text-align: center;
  border: none;

}
button:hover {
  background-color: gray;
}

.page-header {
  background-color: black;
  font-family: Verdana;
  color: white;
  padding: 10px;
}

.page-header a:link {
  color: white;
  text-decoration: none;
}

.page-header a:visited {
  color:white;
  text-decoration: none;
}

.page-header a:hover {
  color: #D8D8D8;
}

.principal {
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.formulario {
  background: white;
  border: 2px solid #2d2d2d;
  padding: 10px;
  width: 45%;
  float: left;
}

.carpetas {
  width: 45%;
  text-align: left;
}

#destino {
  float: left;
  clear: left;
}

#origen {
  float: right;
  clear: right;
}

#visor {
  float: right;
  max-width: 50%;
  height: auto;
}

#galeria {
  clear: right;
  float:left;
  margin: 10px;
  background-color: #545454;
}

#galeria img {
  margin: 5px;
  border-radius: 8px;
  display: inline-block;
  height: 100px;
  width: auto;
}

#galeria h3 {
  background-color: #2d2d2d;
  color: white;
  padding: 10px;
  width: auto;
  margin:0px;
}

#eliminar {
position:inherit;
  font-size: 10px;
  color: #626562;
  text-decoration: none;
}

.error {
  padding: 10px;
  background-color: #FFC0CB;
  color: #FF7373;
}
