* {
  font-family: verdana;
}

body {
  background-color: #D8D8D8;
  margin: 0;
  padding: 1%;
}

img {
  max-width: 50%;
  height: auto;
}

.page-header {
  background-color: black;
  font-family: Verdana;
  color: white;
  padding: 10px;
}

.page-header a:link {
  color: white;
  text-decoration: none;
}

.page-header a:visited {
  color:white;
  text-decoration: none;
}

.page-header a:hover {
  color: #279c34;
}

.principal {
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.formulario {
  background: white;
  border: 5px solid #707c6f;
  padding: 10px;
  width: 45%;
  float: left;
}

.carpetas {
  width: 45%;
  float: right;
  text-align: left;

}
